[Unit]
Description=PeakMiner GPU miner - zephyr-3060ti
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Environment="CUDA_DEVICE_ORDER=PCI_BUS_ID"
Environment="LD_LIBRARY_PATH=/usr/lib/nvidia:/usr/lib"
ExecStartPre=/usr/bin/bash -c "/usr/bin/nvidia-smi -i 0 -pl 120"
ExecStart=/usr/local/bin/peakminer --url "stratum+tcp://prl-us.kryptex.network:7048" --user "krxXVNVMM7/zephyr-3060ti" --password x --coin pearl --devices 0 --api-port 21553
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
